// Mobile styling

// Tablet styling
@media (max-width: 768px) {
	#section-1 {
		img {
			width: 50%;
		}
	}

	#section-2 {
		h3 {
			span {
				display: block;
			}
		}

		img {
			height: 70%;
			padding-top: 5rem;
		}
		p {
			padding: 0.5rem 0;
		}
	}

	#section-4 {
		.container {
			display: block;
			.card:first-child {
				margin-bottom: 1rem;
			}
		}
	}
}
