.container {
	padding: 0 1.5rem;
	margin: auto;
	overflow: hidden;
}

.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}
.py-4 {
	padding: 4rem 0;
}
.py-5 {
	padding: 5rem 0;
}
.py-6 {
	padding: 6rem 0;
}

%btn-shared {
	display: inline-block;
	transition: all 0.5s;
	border: none;
	cursor: pointer;
}

.btn {
	&-main {
		@extend %btn-shared;
		color: #fff;
		background-color: $main-color;
		border-radius: 5px;
	}
	&-light {
		@extend %btn-shared;
		color: $main-color;
		background-color: #fff;
		border-radius: 5px;
	}
}
