.container {
	padding: 0 1.5rem;
	margin: auto;
	overflow: hidden;
}

%btn-shared {
	display: inline-block;
	transition: all 0.5s;
	border: none;
	cursor: pointer;
}

.btn {
	&-main {
		@extend %btn-shared;
		color: #fff;
		background-color: $main-color;
		border-radius: 5px;
	}
}
