@import 'config';
@import 'utilities';

// CSS reset
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	background: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
// Navbar
#main-nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;

	.name {
		padding: 1rem 2rem;
		border: 3px solid $main-color;
		border-radius: 5px;
	}

	ul {
		display: flex;
	}

	li {
		padding: 1rem;
	}

	a {
		color: $main-color;
		border-bottom: 3px transparent solid;
		padding-bottom: 0.5rem;
		transition: border-color 0.5s;

		&:hover {
			border-color: $main-color;
		}

		&.current {
			border-color: $main-color;
		}
	}
}

// Intro Section
#section-1 {
	.container {
		display: flex;
		justify-content: space-around;

		.text {
			align-self: center;
			padding: 0 2rem;

			p {
				padding: 1rem 0;
			}

			.btn-main {
				border: 1px solid #fff;
				padding: 0.75rem 2.5rem;

				a {
					color: #fff;
				}

				&:hover {
					background: #fff;
					border: 1px solid $main-color;
					a {
						color: $main-color;
					}
				}
			}
		}
	}
}

// Bio Section
#section-2 {
	display: flex;
	padding: 0 2rem;
	background: $light-color;

	.bio {
		display: grid;
		grid-template-columns: 5, 1fr;
		padding-left: 1rem;
		color: $dark-color;

		h3 {
			font-size: 2rem;
			font-weight: 400;
			span {
				color: $main-color;
			}
		}

		.quote-2 {
			font-style: italic;
		}

		.statement-2 {
			font-size: 1.25rem;
		}
	}
}

// Services Section
#section-3 {
	h3 {
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
		span {
			color: $main-color;
		}
	}

	#transition {
		text-align: center;
		font-size: 1.5rem;
	}

	.services {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		padding: 0 4rem;

		h5 {
			padding: 1rem 0;
		}
	}
}

// Testimonials Section
#section-4 {
	background: $main-color;

	h3 {
		color: #fff;
		font-size: 2rem;
		font-weight: 400;
		text-align: center;
		padding-bottom: 1.5rem;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 5rem;
		grid-gap: 1rem;

		.card {
			position: relative;

			#quote {
				opacity: 0.5;
				position: absolute;
				top: 2rem;
				left: 0.75rem;
			}

			#dot {
				position: absolute;
				bottom: 3.5rem;
				right: 2rem;
			}

			padding: 4rem 4rem;
			background: #fff;
			color: $dark-color;

			.name {
				font-size: 1.5rem;
				font-weight: 400;
			}
		}
	}
}

// Projects section
#section-5 {
	h3 {
		font-size: 2rem;
		font-weight: 400;
		text-align: center;
		padding-bottom: 3rem;
	}

	.container {
		display: flex;
		justify-content: space-around;
	}

	.check {
		padding-top: 3rem;
		font-size: 1rem;
		text-align: center;

		i {
			color: $main-color;
			border: 1px solid #fff;
			&:hover {
				background: $main-color;
				border: 1px solid $main-color;
				border-radius: 5px;
				color: #fff;
			}
		}
	}
}

// Footer Section
#section-6 {
	.contact-box {
		position: relative;
		display: flex;

		align-items: center;
		justify-content: center;
		padding: 2rem 0;

		.box {
			position: absolute;
			top: -75px;
			width: 66%;
			height: 200%;
			background: $main-color;
			border: 1px solid $main-color;
			border-radius: 5px;
			padding: 0 2rem;

			display: flex;
			align-items: center;
			justify-content: space-between;

			z-index: 1;
			.text {
				color: #fff;
				font-size: 1.25rem;
			}

			.btn-light {
				padding: 0.5rem 2rem;
				border: 1px solid #fff;

				&:hover {
					background: $main-color;
					border-radius: 5px;
					a {
						color: #fff;
					}
				}
			}
		}

		.light-bg {
			position: absolute;
			top: -10px;
			height: 130px;
			width: 100%;
			background: $medium-color;
		}
	}

	.info {
		z-index: 2;
		padding: 5rem 1rem 0;
		display: flex;
		justify-content: space-around;

		i {
			color: $main-color;
			border: 1px solid $medium-color;
			padding: 0.25rem;
			&:hover {
				background: $main-color;
				border: 1px solid $main-color;
				border-radius: 5px;
				color: #fff;
			}
		}
	}
}
